@charset "utf-8";

@tailwind base;
@tailwind components;
@tailwind utilities;

header {

}

main {

}

section#produto {
    background-color: azure;
   
    
}

#produto  img {
    height: 200px;
    border: 1px 1px solid red;
    
}

.marca {
    color: rgb(4, 151, 249);
}

